.App {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Botao3 {
  font-size: 50px;
}

.Botao1 {
  font-size: 50px;
}

.Botao2 {
  font-size: 50px;
  padding: 50px;
}
