.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
  margin: -2px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
    padding: 20px; 
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
    margin: 30px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
    border: 5px solid black;
}

.super-mario {
  width: 200px;
  position: absolute;
  top: 90px;
  left: 50px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 390px;
  left: 100px;
}

.baloon {
  position: absolute;
  top: 70px;
  left: 270px;
  z-index: 1;
}

.speech {
  font-size: 25px;
  position: absolute;
  top: 110px;
  left: 290px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 190px;
  left: 550px;
}